<!DOCTYPE html>
<html lang="ko">

<head>
    <% include before_loading.ejs %>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>개인정보 이력관리 시스템</title>

    <style type="text/css">
    @font-face { font-family: 'Binggrae-Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae-Bold.woff') format('woff'); font-weight: normal; font-style: normal; }
    @font-face { font-family: 'RIDIBatang'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff'); font-weight: normal; font-style: normal; }
        body {
            font-family: 'RIDIBatang';
            color: #303030;
            letter-spacing: 1px;
        }

        th {
            text-align: center;
        }

        .fontSize {
            font-size: 1.2em;
        }
    </style>

</head>

<body style="overflow:auto">
<% include ./header %>

<!-- Carousel
================================================== -->


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <% include ./menu %>

    <!-- START THE FEATURETTES -->
    

    <hr class="featurette-divider">
    <div class="container fontSize" style="display: inline-block;text-align: center;">
        <!-- Default panel contents -->
        <% if(authenticated == false){ %>
            <% include ./notAuthenticated %>
        <% } 
        else if(esession.gubun == '관리자'){ %>
            <% include ./adminres %>
        <% } else{ %>
            <div class="jumbotron" style="background-color: #f8f8f8;">
                <div class="panel panel-default" style="background-color: #ffffff">
                    <div class="panel-heading" style="font-size:1.5em; background-color: #e7ebee;">유통이력 검색 결과 (생성)</div>
                    <!-- Table -->

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>데이터명</th>
                            <th>값</th>
                            <th>파일</th>
                            <th>생성처</th>
                            <th>날짜</th>
                            <th>기타정보</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% for(var i = 0; i < names.length; i++ ) { %>
                            <tr>
                                <th scope="row">
                                    <%= (i + 1) %>
                                </th>
                                <td>
                                    <%= dataNames3[i] %>
                                </td>
                                <td align=center width=200;>
                                    <%= values3[i] %>
                                </td>
                                <td align=center>
                                    <%= file_paths3[i] %>
                                </td>
                                <td align=center>
                                    <%= origins3[i] %>
                                </td>
                                <td align=center>
                                    <%= dates3[i] %>
                                </td>
                                <td align=center>
                                    <%= details3[i] %>
                                </td>
                            </tr>
                        <% } %>
                        </tbody>
                    </table>
                </div>
                <br><br>
                <hr class="featurette-divider">
                <br><br>
                <div class="panel panel-default" style="background-color: #ffffff">
                    <div class="panel-heading" style="font-size:1.5em; background-color: #e7ebee;">유통이력 검색 결과 (가공)</div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>데이터명</th>
                            <th>값</th>
                            <th>파일</th>
                            <th>생성처</th>
                            <th>날짜</th>
                            <th>기타정보</th>
                            <th>(가공)</th>
                            <th>데이터명</th>
                            <th>값</th>
                            <th>파일</th>
                            <th>생성처</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% for(var i = 0; i < names5.length; i++ ) { %>
                            <tr>
                                <th scope="row">
                                    <%= (i + 1) %>
                                </th>
                                <td>
                                    <%= dataNames5[i] %>
                                </td>
                                <td align=center>
                                    <%= values5[i] %>
                                </td>
                                <td align=center>
                                    <%= file_paths5[i] %>
                                </td>
                                <td align=center>
                                    <%= origins5[i] %>
                                </td>
                                <td align=center>
                                    <%= dates5[i] %>
                                </td>
                                <td align=center>
                                    <%= details5[i] %>
                                </td>
                                <td align=center>
                                    <img src="/images/arrow2.png" width="24" height="12">
                                </td>
                                <td align=center>
                                    <%= dataNames6[i] %>
                                </td>
                                <td align=center>
                                    <%= values6[i] %>
                                </td>
                                <td align=center>
                                    <%= file_paths6[i] %>
                                </td>
                                <td align=center>
                                    <%= origins6[i] %>
                                </td>
                            </tr>
                        <% } %>
                        </tbody>
                    </table>
                </div>

                <br><br>
                <hr class="featurette-divider">   
                <br><br>    
                <div class="panel panel-default" style="background-color: #ffffff">
                    <div class="panel-heading" style="font-size:1.5em; background-color: #e7ebee;">유통이력 검색 결과 (제공)</div>
                    <table class="table table-striped" style="font-size: 0.85em;">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>데이터명</th>
                            <th>값</th>
                            <th>파일</th>
                            <th>생성처</th>
                            <th>날짜</th>
                            <th>제공기관</th>
                            <th>가격</th>
                            <th>허용기간</th>
                            <th>정보제공 동의여부</th>
                            <th>기타정보</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% for(var i = 0; i < s_names.length; i++ ) { %>
                            <tr>
                                <th scope="row">
                                    <%= (i + 1) %>
                                </th>
                                <td>
                                    <%= dataNames4[i] %>
                                </td>
                                <td align=center>
                                    <%= values4[i] %>
                                </td>
                                <td align=center>
                                    <%= file_paths4[i] %>
                                </td>
                                <td align=center>
                                    <%= origins4[i] %>
                                </td>
                                <td align=center>
                                    <%= dates4[i] %>
                                </td>
                                <td align=center>
                                    <%= r_names[i] %>
                                </td>
                                <td align=center>
                                    <%= prices4[i] %>
                                </td>
                                <td align=center>
                                    <%= APFroms4[i] %> ~ <%= APTos4[i] %>
                                </td>
                                <td align=center>
                                    <%= isAgrees[i] %>
                                </td>
                                <td align=center>
                                    <%= details4[i] %>
                                </td>
                            </tr>
                        <% } %>
                        </tbody>
                    </table>             
                </div>

            </div>
        <% }%>
        <a href="/viewPage"><input class="btn btn-primary" type="submit" value="뒤로가기"
            style="width:100px; background-color: #4a9dea; border-color:  #4a9dea;"></a>
    </div>

    <!-- /END THE FEATURETTES -->

    
    <hr class="featurette-divider">
    <!-- FOOTER -->
    <footer>
    </footer>

</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript">

    function Show(num) {
        console.log(num)
        

    }
</script>
</body>
</html>