<!DOCTYPE html> 
<html lang="ko"> 

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <!-- favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="icon" href="/images/favicon.ico">
   
   <title>이력 정보 관리시스템</title>
   
   <link href="http://bootstrapk.com/dist/css/bootstrap.min.css" rel="stylesheet">
   <script src="http://bootstrapk.com/assets/js/ie-emulation-modes-warning.js"></script>
   <link href="/public/stylesheets/carousel.css" rel="stylesheet">

</head>

<body style="overflow:auto">
        <div class="navbar-wrapper">
          <div class="container-fluid">
            <nav class="navbar navbar-inverse navbar-static-top">
              <div class="container">
                <div class="navbar-header">
                  <a class="navbar-brand" href="/">이력 정보 관리시스템</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse" style="float:right;">
                  <ul class="nav navbar-nav">
                    <!--<li><a href="/users"></a></li>-->
                    <!--<li><a href="/admin">관리자</a></li>-->
                    <li><a href=#>눈송이님 환영합니다.</a></li>
                    <li><a href="/">로그아웃</a></li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>

    <!-- Carousel
    ================================================== -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container marketing">
        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div style="margin-top: 50px;"></div>
            <div class="col-lg-4" align = center>
              <a  href="/viewPage" >
              <img class="img-circle" src="/images/table.jpg" alt="Generic placeholder image" width="140" height="140">
              </a>
              <br><br>
              <h2>이력 정보 보기</h2>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4" align = center>
              <a href="/addPage">
              <img class="img-circle" src="/images/add.jpg"  alt="Generic placeholder image" width="140" height="140">
              </a>
              <br><br>
              <h2>이력 정보 추가</h2>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4" align = center>
              <a href = "/search/searchPage">
              <img class="img-circle" src="/images/search.jpg" alt="Generic placeholder image" width="140" height="140">
              </a>
              <br><br>
              <h2>이력 정보 검색</h2>
            </div><!-- /.col-lg-4 -->
          </div><!-- /.row -->
  
          <div class="row">
            <div style="margin-top: 50px;"></div>
            <div class="col-lg-4" align = center>
              <a  href="/data/modifyData" >
              <img class="img-circle" src="/images/modify.png" alt="Generic placeholder image" width="140" height="140">
              </a>
              <br><br>
              <h2>이력 정보 변경</h2>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4" align = center>
              <a href="/data/deleteData">
              <img class="img-circle" src="/images/delete.png"  alt="Generic placeholder image" width="140" height="140">
              </a>
              <br><br>
              <h2>이력 정보 삭제</h2>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4" align = center>
              <a href = "/data/uploadData">
              <img class="img-circle" src="/images/upload.png" alt="Generic placeholder image" width="140" height="140">
              </a>
              <br><br>
              <h2>이력 파일 업로드</h2>
            </div><!-- /.col-lg-4 -->
          </div><!-- /.row -->
  
        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">
        <div class="jumbotron">
          <div class="container" style="display: inline-block;text-align: center;">
            <br><br>
            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading" style = "font-size:medium;"><strong>이력 정보 보기 결과</strong></div>
              <!-- Table -->
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th align = center>#</th>
                    <th align = center>이 름</th>
                    <th align = center> 소       속</th>
                    <th align = center>Activity</th>
                    <th align = center>날 짜</th>
                    <th align = center>데이터명</th>
                    <th align = center>데이터 종류</th>
                    <th align = center>가 격</th>
                    <th align = center>Device</th>
                  </tr>
                </thead>
                <tbody>
                  <% for(var i=0; i<50; i++ ) { %>
                  <tr>
                    <th scope="row">
                        <%= (i+1) %>
                    </th>
                    <td>
                        <%= names[i] %>
                    </td>
                    <td align = center>
                      <%= affiliations[i] %>
                    </td>
                    <td align = center>
                      <%= activityTypes[i] %>
                    </td> 
                    <td align = center>
                      <%= dates[i] %>
                    </td>
                    <td align = center>
                      <%= dataNames[i] %>
                    </td>
                    <td align = center>
                      <%= dataTypes[i] %>
                    </td>
                    <td align = center>
                      <%= prices[i] %>
                    </td>
                    <td align = center>
                      <%= devices[i] %>
                    </td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
            </div>  
          </div>
        </div>
        <!-- /END THE FEATURETTES -->


        <hr class="featurette-divider">
        <!-- FOOTER -->
        <footer>
        </footer>
  
      </div><!-- /.container -->
  
  
      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <script src="../../dist/js/bootstrap.min.js"></script>
      <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
      <script src="../../assets/js/vendor/holder.js"></script>
      <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
      <script src="../../assets/js/ie10-viewport-bug-workaround.js">
      </script>

</body>
</html>