<!DOCTYPE html>
<html lang="ko">

<head>
    <% include ../before_loading.ejs %>
    <title>개인정보 이력관리 시스템</title>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>

    <style type="text/css">
        @font-face { font-family: 'Binggrae-Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae-Bold.woff') format('woff'); font-weight: normal; font-style: normal; }
        @font-face { font-family: 'RIDIBatang'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff'); font-weight: normal; font-style: normal; }
        body {
            font-family: 'RIDIBatang';
            color: #333333;
            letter-spacing: 1px;
        }

        th {
            text-align: center;
            font-size: 13px;
        }

        td {
            font-size: 0.9em;
        }
    </style>

    <script>
        $(document).ready(function () {
            $('#datePicker')
                .datepicker({
                    format: 'yyyymmdd'
                })
                .on('changeDate', function (e) {
                    // Revalidate the date field
                    $('#eventForm').formValidation('revalidateField', 'date');
                });

            $('#datePicker2')
                .datepicker({
                    format: 'yyyymmdd'
                })
                .on('changeDate', function (e) {
                    // Revalidate the date field
                    $('#eventForm').formValidation('revalidateField', 'date');
                });

            $('#eventForm').formValidation({
                framework: 'bootstrap',
                icon: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    name: {
                        validators: {
                            notEmpty: {
                                message: 'The name is required'
                            }
                        }
                    },
                    date: {
                        validators: {
                            notEmpty: {
                                message: 'The date is required'
                            },
                            date: {
                                format: 'YYYYMMDD',
                                message: 'The date is not a valid'
                            }
                        }
                    }
                }
            });
        });

    </script>

</head>

<body style="overflow:auto">
<% include ../header %>

<div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="container marketing">
        <% include ../menu %>

        <hr class="featurette-divider">
        <div class="jumbotron" style="background-color: #f8f8f8; ">
            <% if(esession.authenticated == false){ %>
                <% include ../notAuthenticated.ejs %>
            <% }else{ %>
                <div class="container">
                    <div style="text-align: center; font-size:2em;">활동으로 검색<br><br>
                    </div>
                    <form method="post" action="/periodSearch">
                        <div class="row" style="width:490px; margin:0 auto;">
                            <select id="activityType" name="activityType" class="form-control">
                                <option value=''>타입 (필수)</option>
                                <option value="생성">생성</option>
                                <option value="가공">가공</option>
                                <option value="제공">제공</option>
                            </select>
                        </div>
                        <br>
                        <div class="row" style="padding-right: 265px;">
                            <!-- Include Bootstrap Datepicker -->
                            <div class="form-group" style="text-align: center;">
                                <!--<div style="width:20%; margin:0 auto; float:left; text-align: right; padding-right: 3%; padding-top: 5px;">기간</div>-->
                                <div style="width:30%; margin:0 auto; float:right;">
                                    <div class="input-group input-append date" id="datePicker">
                                        <input type="text" class="form-control" name="start_date"/>
                                        <span class="input-group-addon add-on"><span
                                                    class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                                <div style="width:5%; margin:0 auto; float:right;">
                                    <p class="font-weight-bold">~</p>
                                </div>
                                <div style="width:30%; margin:0 auto; float:right;">
                                    <div class="input-group input-append date" id="datePicker2">
                                        <input type="text" class="form-control" name="end_date"/>
                                        <span class="input-group-addon add-on"><span
                                                    class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--디비연결전송오류로잠시위치이동-->
                        <br><br>
                        <div style="text-align: center;">
                            <a href="/search/searchPeriodResult"><input class="btn btn-primary" type="submit" value="검색"
                                                                        style="width:100px; background-color: #4a9dea; border-color:  #4a9dea;"></a>
                            <a href=""><input class="btn btn-light" type="reset" value="취소" style="width:100px; background-color: #dddddd;"></a>
                        </div>
                    </form><!--원래폼위치-->
                </div>
            <% } %>
        </div>
        <hr class="featurette-divider">
        <div class="jumbotron" style="background-color: #f8f8f8;">
            <div class="container" style="display: inline-block; text-align:center">
                <!-- Default panel contents -->
                <% if(authenticated == false){ %>
                    <% include ../notAuthenticated %>
                <% } else { %>
                    <% if(query3 == true) { %>
                        <div class="jumbotron" style="background-color: #f8f8f8;">
                        <div class="panel panel-default" style="background-color: #ffffff; width: 890px;">
                            <div class="panel-heading" style="font-size:1.5em; background-color: #e7ebee;">활동 검색 결과 (생성)</div>
                            <!-- Table -->
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>데이터명</th>
                                    <th>값</th>
                                    <th>파일</th>
                                    <th>발급처</th>
                                    <th>날짜</th>
                                    <th>기타정보</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% for(var i = 0; i < names.length; i++ ) { %>
                                    <tr>
                                        <th scope="row">
                                            <%= (i + 1) %>
                                        </th>
                                        <td>
                                            <%= dataNames3[i] %>
                                        </td>
                                        <td align=center width=200;>
                                            <%= values3[i] %>
                                        </td>
                                        <td align=center>
                                            <%= file_paths3[i] %>
                                        </td>
                                        <td align=center>
                                            <%= origins3[i] %>
                                        </td>
                                        <td align=center>
                                            <%= dates3[i] %>
                                        </td>
                                        <td align=center>
                                            <%= details3[i] %>
                                        </td>
                                    </tr>
                                <% } %>
                                </tbody>
                            </table>
                        </div>
                        </div>
                    <% } %>
                    <% if(query5 == true) { %>
                        <br><br>
                        <div class="jumbotron" style="background-color: #f8f8f8;">
                            <div class="panel panel-default" style="background-color: #ffffff; width: 890px;">
                                <div class="panel-heading" style="font-size:1.5em; background-color: #e7ebee; ">활동 검색 결과 (가공)</div>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>데이터명</th>
                                    <th>값</th>
                                    <th>파일</th>
                                    <th>발급처</th>
                                    <th>날짜</th>
                                    <th>기타정보</th>
                                    <th>(가공)</th>
                                    <th>데이터명</th>
                                    <th>값</th>
                                    <th>파일</th>
                                    <th>생성처</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% for(var i = 0; i < names5.length; i++ ) { %>
                                    <tr>
                                        <th scope="row">
                                            <%= (i + 1) %>
                                        </th>
                                        <td>
                                            <%= dataNames5[i] %>
                                        </td>
                                        <td align=center>
                                            <%= values5[i] %>
                                        </td>
                                        <td align=center>
                                            <%= file_paths5[i] %>
                                        </td>
                                        <td align=center>
                                            <%= origins5[i] %>
                                        </td>
                                        <td align=center>
                                            <%= dates5[i] %>
                                        </td>
                                        <td align=center>
                                            <%= details5[i] %>
                                        </td>
                                        <td align=center>
                                            <img src="/images/arrow2.png" width="24" height="12">
                                        </td>
                                        <td align=center>
                                            <%= dataNames6[i] %>
                                        </td>
                                        <td align=center>
                                            <%= values6[i] %>
                                        </td>
                                        <td align=center>
                                            <%= file_paths6[i] %>
                                        </td>
                                        <td align=center>
                                            <%= origins6[i] %>
                                        </td>
                                    </tr>
                                <% } %>
                                </tbody>
                            </table>    
                        </div>
                        </div>
                        <% } %>
                        <% if(query4 == true) { %>
                            <div class="jumbotron" style="background-color: #f8f8f8;">
                                <div class="panel panel-default" style="background-color: #ffffff; width: 890px;">
                                    <div class="panel-heading" style="font-size:1.5em; background-color: #e7ebee;">활동 검색 결과 (제공)</div>
                                <table class="table table-striped" style="font-size: 0.85em;">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>데이터명</th>
                                        <th>값</th>
                                        <th>파일</th>
                                        <th>발급처</th>
                                        <th>날짜</th>
                                        <th>제공기관</th>
                                        <th>허용기간</th>
                                        <th>가격</th>
                                        <th>정보제공 동의여부</th>
                                    
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <% for(var i = 0; i < s_names.length; i++ ) { %>
                                        <tr>
                                            <th scope="row">
                                                <%= (i + 1) %>
                                            </th>
                                            <td>
                                                <%= dataNames4[i] %>
                                            </td>
                                            <td align=center>
                                                <%= values4[i] %>
                                            </td>
                                            <td align=center>
                                                <%= file_paths4[i] %>
                                            </td>
                                            <td align=center>
                                                <%= origins4[i] %>
                                            </td>
                                            <td align=center>
                                                <%= dates4[i] %>
                                            </td>
                                            <td align=center>
                                                <%= r_names[i] %>
                                            </td>
                                            <td align=center>
                                                <%= APFroms4[i] %> ~ <%= APTos4[i] %>
                                            </td>
                                            <td align=center>
                                                <%= prices4[i] %>
                                            </td>
                                            <td align=center>
                                                <%= isAgrees[i] %>
                                            </td>
                                        </tr>
                                    <% } %>
                                    </tbody>
                                </table>      
                            </div>
                            </div>
                    <% } %>
                <% } %>
            </div>

        </div>
        <!-- FOOTER -->
        <footer>
        </footer>
        <!-- /.container -->
</body>
</html>