<!DOCTYPE html> 
<html lang="ko"> 

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <!-- favicon -->
     <link rel="shortcut icon" href="/images/favicon.ico">
     <link rel="icon" href="/images/favicon.ico">
     
   <title>이력 정보 관리시스템</title>
   <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap" rel="stylesheet">

<style type="text/css"> 
 body {
   font-family: 'Do Hyeon';
   color: #303030;
   letter-spacing: 1px;
 }
</style>

<script>
        $(document).ready(function() {
            $('#datePicker')
                .datepicker({
                    format: 'yyyymmdd'
                })
                .on('changeDate', function(e) {
                    // Revalidate the date field
                    $('#eventForm').formValidation('revalidateField', 'date');
                });

            $('#datePicker2')
                .datepicker({
                    format: 'yyyymmdd'
                })
                .on('changeDate', function(e) {
                    // Revalidate the date field
                    $('#eventForm').formValidation('revalidateField', 'date');
                });
        
            $('#eventForm').formValidation({
                framework: 'bootstrap',
                icon: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    name: {
                        validators: {
                            notEmpty: {
                                message: 'The name is required'
                            }
                        }
                    },
                    date: {
                        validators: {
                            notEmpty: {
                                message: 'The date is required'
                            },
                            date: {
                                format: 'YYYYMMDD',
                                message: 'The date is not a valid'
                            }
                        }
                    }
                }
            });
        });

        </script>
   
</head>

<body style="overflow:auto">
<% include ../header %>

      <div class="container marketing">
        <!-- Three columns of text below the carousel -->
              <div class="container marketing">
                  <%include ../menu%>

                    <hr class="featurette-divider">
                    <div class="jumbotron">
                        <div class="container">
                            <div style="text-align: center;"><h3>활동으로 검색</h3><br><br>
                            </div>
                        <form method="post" action="/periodSearch">

                        <div class="row" style="padding-right: 265px;">
                            <!-- Include Bootstrap Datepicker -->
                            <div class="form-group" style="text-align: center;">
                                <!--<div style="width:20%; margin:0 auto; float:left; text-align: right; padding-right: 3%; padding-top: 5px;">기간</div>-->
                                <div style="width:30%; margin:0 auto; float:right;">
                                        <div class="input-group input-append date" id="datePicker" >
                                        <input type="text" class="form-control" name="start_date" />
                                        <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                </div>
                                <div style="width:5%; margin:0 auto; float:right;">
                                    <p class="font-weight-bold">~</p>
                                </div>
                                <div style="width:30%; margin:0 auto; float:right;">
                                        <div class="input-group input-append date" id="datePicker2" >
                                        <input type="text" class="form-control" name="end_date" />
                                        <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-offset-2 col-sm-2" for="company"></label>
                                <div class="col-sm-6 col-md-4">
                                  <select id="activityType" name = "activityType" class="form-control">
                                    <option value = ''>타입</option>
                                    <option value="판매">판매</option>
                                    <option value="구매">구매</option>
                                    <option value="출판">출판</option>
                                    <option value="수정">수정</option>
                                  </select> 
                                </div>
                            </div>
                        </div>
    
                        <div style="text-align: center;"><br><br>
                            <a href="/search/searchPeriodResult"><input class="btn btn-primary" type="submit" value="검색" style="width:100px"></a>
                            <a href=""><input class="btn btn-light" type="reset" value="취소" style="width:100px"></a>
                        </div> 
                      </form>
            </div>
        </div>
        <hr class="featurette-divider">
        <hr class="featurette-divider">
        <div class="jumbotron">
          <div class="container" style="display: inline-block;text-align: center;">
            <br><br>
            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading" style = "font-size:medium;"><strong>활동 검색 결과</strong></div>
              <!-- Table -->
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th align = center>#</th>
                    <th align = center>&nbsp;이름&nbsp;</th>
                    <th align = center>소&nbsp;&nbsp;&nbsp;속</th>
                    <th align = center>데이터명</th>
                    <th align = center>가격</th>
                    <th align = center>데이터타입</th>
                    <th align = center>장치</th>
                    <th align = center>타입(판매/구매/출판/수정)</th>
                    <th align = center>날짜</th>
                  </tr>
                </thead>
                <tbody>
                  <% for(var i=0; i<names.length; i++ ) { %>
                      <tr>
                        <th scope="row">
                            <%= (i+1) %>
                        </th>
                        <td align = center>
                            <%= names[i] %>
                        </td>
                        <td align = center>
                          <%= affiliations[i] %>
                        </td>
                        <td align = center>
                          <%= dataNames[i] %>
                        </td> 
                        <td align = center>
                          <%= prices[i] %>
                        </td>
                        <td align = center>
                          <%= dataTypes[i] %>
                        </td>
                        <td align = center>
                          <%= devices[i] %>
                        </td>
                        <td align = center>
                          <%= activityTypes[i]  %>
                        </td>
                        <td align = center>
                          <%= dates[i] %>
                        </td>
                      </tr>
                      <% } %>
                </tbody>
              </table>
            </div>  
          </div>
        </div>
      <!-- FOOTER -->
      <footer>
      </footer>
    <!-- /.container -->
</body>
</html>