<!DOCTYPE html>
<html lang="ko">

<head>
    <% include ../before_loading.ejs %>
    <title>이력 정보 관리시스템</title>
    <style type="text/css">
        @font-face { font-family: 'Binggrae-Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae-Bold.woff') format('woff'); font-weight: normal; font-style: normal; }
        @font-face { font-family: 'RIDIBatang'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff'); font-weight: normal; font-style: normal; }
        body {
            font-family: 'RIDIBatang';
            color: #303030;
            letter-spacing: 1px;
        }

        .fontSize {
            font-size: 1.2em;
        }

        .personLayer { display: none; }
        .dataLayer { display: none; }
    </style>
</head>

<body style="overflow:auto">
<% include ../header %>

<div class="container marketing">
    <% include ../menu %>

    <hr class="featurette-divider">
    <div class="jumbotron" style="background-color: #f8f8f8;">
        <% if(esession.authenticated == false){ %>
            <% include ../notAuthenticated.ejs %>
            <% } 
            else if(esession.gubun == '사용자'){ %>
                <div style="margin: auto; padding: 10%; font-size: 1.5em;">
                    사용자는 이용 불가능한 메뉴입니다.
                </div>
            <% } 
            else{ %>
                <div class="container" style="display: inline-block; text-align: center;">
                    <div style="text-align: center; font-size:2em;">유사 노드 탐색
                    </div>
                    <!--Start-->
                    <br><br>
                    <form class="form-inline" method="post" action="/node" name="node" id="node" >
                        <div class="row" style="margin:0 auto;">
                            <select class="form-control" id="nodeType" name="nodeType" style="width:30%; margin:0 auto;">
                                <option value="" selected="selected">노드 타입</option>
                                <option value="personNode">사람</option>
                                <option value="dataNode">데이터</option>
                            </select>
                        </div>
                        <div class="personLayer">
                            <br>
                            <div class="input-group" style="width:30%; margin:0 auto;">
                                <span class="input-group-addon">이름</span>
                                <input type="text" id="personName" name="personName" class="form-control"/>
                            </div>
                            <br><br>
                            <div class="input-group" style="width:30%; margin:0 auto;">
                                <span class="input-group-addon">PID</span>
                                <input type="text" id="personValue" name="personValue" class="form-control"/>
                            </div>
                        </div>
                        <div class="dataLayer">
                            <br>
                            <div class="input-group" style="width:30%; margin:0 auto;">
                                <span class="input-group-addon">데이터 명</span>
                                <input type="text" id="dataName" name="dataName" class="form-control"/>
                            </div>
                            <br><br>
                            <div class="input-group" style="width:30%; margin:0 auto;">
                                <span class="input-group-addon">데이터 값</span>
                                <input type="text" id="dataValue" name="dataValue" class="form-control"/>
                            </div>
                        </div>
                        <br><br>
                        <div style="text-align: center;">
                            <!--폼 액션 설정되면 type submit으로 변경-->
                            <button type="button" class="btn btn-primary" id="snb" style="width:100px; background-color: #4a9dea; border-color:  #4a9dea;">검색</button>
                            <a href=""><input class="btn btn-light" type="reset" value="취소" style="width:100px; background-color: #dddddd;"></a>
                        </div>
                    </form>
                </div>
        </div>
        <hr class="featurette-divider">
        <!--<div class="jumbotron" style="background-color: #ffffff;">-->
            <!--<div class="container" style="display: inline-block;text-align: center;">-->
                <!--div class="panel panel-default" style="background-color: #ffffff; width: 890px;">-->
                <!--<div class="panel-heading" style="font-size:1.3em; background-color: #f8f8f8;"> <%=ReturnKeyword%>과 유사 노드 검색 결과</div>-->
                <!-- Table -->
                <table class="table" style="margin: auto; text-align: center;">
                    <thead>
                        <tr>
                            <th style="background-color: #f8f8f8; height: 80px; text-align: center; vertical-align: middle; font-size: 16px;">순위</th>
                            <th style="background-color: #f8f8f8; height: 80px; text-align: center; vertical-align: middle; font-size: 16px;">검색어</th>
                            <th style="background-color: #f8f8f8; height: 80px; text-align: center; vertical-align: middle; font-size: 16px;">유사 노드</th>
                            <th style="background-color: #f8f8f8; height: 80px; text-align: center; vertical-align: middle; font-size: 16px;">유사도</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i = 0; i < name.length; i++ ) { %>
                            <tr>
                                <th scope="row"; align=center; style="background-color: #f8f8f8; height: 60px; text-align: center; vertical-align: middle;">
                                    <%= (i + 1) %>
                                </th>
                                <td align=center; style="vertical-align: middle;">
                                    <% if((ReturnKeyword.split('*'))[1].includes(".")) { %>
                                        <%= (ReturnKeyword.split('*'))[0] %> <br> <a href='upload/<%= (ReturnKeyword.split("*"))[1] %>'>(<%= (ReturnKeyword.split("*"))[1] %>)</a>
                                    <% } else { %>
                                        <%= (ReturnKeyword.split('*'))[0] %> <br> (<%= (ReturnKeyword.split('*'))[1] %>)
                                    <% } %>
                                </td>
                                <td align=center; style="vertical-align: middle;">
                                    <% if((name[i].split('*'))[1].includes(".")) { %>
                                        <%= (name[i].split('*'))[0] %> <br> <a href='upload/<%= (name[i].split("*"))[1] %>'>(<%= (name[i].split("*"))[1] %>)</a>
                                    <% } else { %>
                                        <%= (name[i].split('*'))[0] %> <br> (<%= (name[i].split('*'))[1] %>)
                                    <% } %>
                                </td>
                                <td align=center; style="vertical-align: middle; width: 200px;">
                                    <%= similarity[i] %>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            <br> 
            <hr class="featurette-divider">
            </div>
        <!--</div>-->
    </div>
<% } %>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $("#snb").click(function() {
            $("#node").submit();
        });
    }); 

    jQuery('#nodeType').change(function() {
        var state = jQuery('#nodeType option:selected').val();
        if ( state == 'personNode' ) {
            jQuery('.personLayer').show();
            jQuery('.dataLayer').hide();
        } else {
            jQuery('.personLayer').hide();
            jQuery('.dataLayer').show();
        }
    });

</script>
</body>
</html>