<!DOCTYPE html>
<html lang="ko">

<head>
    <% include ../before_loading.ejs %>
    <title>이력 정보 관리시스템</title>
    <style type="text/css">
        body {
            font-family: 'Do Hyeon';
            color: #303030;
            letter-spacing: 1px;
        }

        th {
            text-align: center;
        }
    </style>

    <script type="text/javascript">
        function btn() {
            // alert(sample);
            console.log("제발");
        }


    </script>

</head>

<body style="overflow:auto">
<% include ../header %>

<!-- Carousel
================================================== -->


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <% include ../menu %>

    <hr class="featurette-divider">
    <br><br>
    <div class="jumbotron">
        <form action="/getUtilizeValues" method="post">
            <div class="container" style="display: inline-block;text-align: center;">
                <div style="text-align: center; font-size:2em;">개인정보 이력 변경<br><br>
                </div>
                <br>


                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading" style="font-size:1.4em;">검색 결과</div>
                    <!-- Table -->


                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>소유자</th>
                            <th>소 속</th>
                            <th>데이터ID</th>
                            <th>가 격</th>
                            <th>데이터종류</th>
                            <th>수집장치</th>
                            <th>행 동</th>
                            <th>날 짜</th>
                            <th>선택</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% for(var i = 0; i < names.length; i++ ) { %>
                            <tr>
                                <th scope="row">
                                    <%= (i + 1) %>
                                </th>
                                <td>
                                    <%= names[i] %>
                                </td>
                                <td align=center>
                                    <%= affiliations[i] %>
                                </td>
                                <td align=center>
                                    <%= dataNames3[i] %>
                                </td>
                                <td align=center>
                                    <%= prices3[i] %>
                                </td>
                                <td align=center>
                                    <%= dataTypes3[i] %>
                                </td>
                                <td align=center>
                                    <%= devices3[i] %>
                                </td>
                                <td align=center>
                                    <%= activityTypes3[i] %>
                                </td>
                                <td align=center>
                                    <%= dates3[i] %>
                                </td>
                                <td align=center id="td3">
                                    <input type="checkbox" name="modifyCheck3" value=<%= i %>>
                                </td>
                            </tr>
                        <% } %>
                        </tbody>
                    </table>
                </div>
                <br><br>

                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading" style="font-size:1.4em;">검색 결과</div>
                    <!-- Table -->
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>소유자</th>
                            <th>소 속</th>
                            <th>데이터ID</th>
                            <th>가 격</th>
                            <th>데이터종류</th>
                            <th>수집장치</th>
                            <th>활 동</th>
                            <th>날 짜</th>
                            <th>행위자</th>
                            <th>소 속</th>
                            <th>선 택</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% for(var i = 0; i < s_names.length; i++ ) { %>
                            <tr>
                                <th scope="row">
                                    <%= (i + 1) %>
                                </th>
                                <td>
                                    <%= s_names[i] %>
                                </td>
                                <td align=center>
                                    <%= s_affiliations[i] %>
                                </td>
                                <td align=center>
                                    <%= dataNames4[i] %>
                                </td>
                                <td align=center>
                                    <%= prices4[i] %>
                                </td>
                                <td align=center>
                                    <%= dataTypes4[i] %>
                                </td>
                                <td align=center>
                                    <%= devices4[i] %>
                                </td>
                                <td align=center>
                                    <%= activityTypes4[i] %>
                                </td>
                                <td align=center>
                                    <%= dates4[i] %>
                                </td>
                                <td align=center>
                                    <%= r_names[i] %>
                                </td>
                                <td align=center>
                                    <%= r_affiliations[i] %>
                                </td>
                                <td align=center id="td3">
                                    <input type="checkbox" name="modifyCheck4" value=<%= i %>>
                                </td>
                            </tr>
                        <% } %>
                        </tbody>
                    </table>
                </div>
                <br><br>
                <div class="panel panel-default">

                    <div class="panel-heading" style="font-size:1.5em;">검색 결과</div>

                    <!-- Table -->
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>소유자</th>
                            <th>소 속</th>
                            <th>데이터ID</th>
                            <th>가 격</th>
                            <th>데이터종류</th>
                            <th>수집장치</th>
                            <th>활 동</th>
                            <th>날 짜</th>
                            <th>데이터ID</th>
                            <th>가 격</th>
                            <th>데이터종류</th>
                            <th>수집장치</th>
                            <th>선 택</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% for(var i = 0; i < names5.length; i++ ) { %>
                            <tr>
                                <th scope="row">
                                    <%= (i + 1) %>
                                </th>
                                <td>
                                    <%= names5[i] %>
                                </td>
                                <td align=center>
                                    <%= affiliations5[i] %>
                                </td>
                                <td align=center>
                                    <%= dataNames5[i] %>
                                </td>
                                <td align=center>
                                    <%= prices5[i] %>
                                </td>
                                <td align=center>
                                    <%= dataTypes5[i] %>
                                </td>
                                <td align=center>
                                    <%= devices5[i] %>
                                </td>
                                <td align=center>
                                    <%= activityTypes5[i] %>
                                </td>
                                <td align=center>
                                    <%= dates5[i] %>
                                </td>
                                <td align=center>
                                    <%= dataNames6[i] %>
                                </td>
                                <td align=center>
                                    <%= prices6[i] %>
                                </td>
                                <td align=center>
                                    <%= dataTypes6[i] %>
                                </td>
                                <td align=center>
                                    <%= devices6[i] %>
                                </td>
                                <td align=center id="td3">
                                    <input type="checkbox" name="modifyCheck5" value=<%= i %>>
                                </td>
                            </tr>
                        <% } %>
                        </tbody>
                    </table>
                </div>

            </div>
            <div style="text-align: center;"><br><br>
                <a href="/data/utilizeDataPage"><input class="btn btn-primary" onclick="javascript:btn()" type="submit"
                                                      value="선택" style="width:100px"></a>
                <input class="btn btn-light" type="reset" value="취소" style="width:100px">
            </div>

        </form>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

</body>
</html>